1. What are data structures, and why are they important?
  - A data structure is a way of organizing and storing data in a computer so that it can be used efficiently.

2. Explain the difference between mutable and immutable data types with examples.
  - if data types that can be changed after creation are mutable else immutable. Examples of mutable data types: List, set, dictionary. Example of immutable data types: string, tuple.

3. What are the main differences between lists and tuples in Python?
  - Lists are mutable and tuples are immutable.

4. Describe how dictionaries store data?
  - Dictionaries stores data in form of key, value pair.

5. Why might you use a set instead of a list in Python?
  - We will use set when we need all unique items.

6. What is a string in Python, and how is it different from a list?
  - String is sequence of characters and list is container of hetrogenous items.

7.  How do tuples ensure data integrity in Python?
  - Tuples ensure data integrity in Python by being immutable, hashable.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that stores data in key, value pairs and dictionaries are same in python as hash table.

9. Can lists contain different data types in Python?
  - Yes

10. Explain why strings are immutable in Python.
  - Because if you try to change a character of string, you will get item assignment error.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries are useful when we have to store data in key, value pair and it provides easier access using key, where list uses indexes for access.

12. Describe a scenario where using a tuple would be preferable over a list.
  - Tuple will be useful to store employee details which we wont change later.

13. How do sets handle duplicate values in Python?
  - Each element you add is hashed into an integer and if any value is equal, only 1 value is kept, others are removed.

14. How does the “in” keyword work differently for lists and dictionaries?
  - List: `in` checks by scanning each element.
  - Dictionary: `in` uses hashing, so key lookup is super fast.

15. Can you modify the elements of a tuple? Explain why or why not.
  - No. because it is immutable.

16. What is a nested dictionary, and give an example of its use case?
  - Dictionary inside dictionary is called nested dictionary.
  - Example: students = {
    "Alice": {"age": 20, "grade": "A", "subjects": ["Math", "Physics"]},
    "Bob": {"age": 22, "grade": "B", "subjects": ["English", "History"]},
}

17. Describe the time complexity of accessing elements in a dictionary.
  - | Operation                   | Average Case | Worst Case |
| --------------------------- | ------------ | ---------- |
| Access (`dict[key]`)        | O(1)         | O(n)       |
| Insertion (`dict[key]=val`) | O(1)         | O(n)       |
| Deletion (`del dict[key]`)  | O(1)         | O(n)       |
  1. Average Case O(1)

    - Hash function distributes keys evenly → one direct index → constant time.

  2. Worst Case O(n)

    - If many keys hash to the same index (collision), Python handles it with a technique like open addressing.
    - In theory, you may need to scan all items → linear time.
    - In practice, this is extremely rare due to Python’s good hash function.

18. In what situations are lists preferred over dictionaries?
  - When we need to store only values and not keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries were unordered before python 3.7. Now it is ordered data structure.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - In list we have to retrieve data using index.
  - In dictionary we have to retrieve data using key.

In [4]:
# 1. Write a code to create a string with your name and print it.
name = "Sandeep"
print(name)

Sandeep

In [5]:
# 2. Write a code to find the length of the string "Hello World".
string = 'Hello World'
print(len(string))

11

In [6]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming".
string = 'Python Programming'
print(string[:3])

Pyt

In [7]:
# 4. Write a code to convert the string "hello" to uppercase.
string = 'hello'
print(string.upper())

HELLO

In [8]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = 'I like apple'
print(string.replace('apple', 'orange'))

I like orange

In [9]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
list1 = [1, 2, 3, 4, 5]
print(list1)

[1, 2, 3, 4, 5]

In [10]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [11]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)

[1, 2, 4, 5]

In [12]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list1 = ['a', 'b', 'c', 'd']
print(list1[1])

b

In [35]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list1 = [10, 20, 30, 40, 50]
print(sorted(list1, reverse = True))

[50, 40, 30, 20, 10]

In [14]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [15]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ('red', 'green', 'blue', 'yellow')
print(tuple1[-2])

blue

In [16]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple1 = (10, 20, 5, 15)
print(min(tuple1))

5

In [17]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple1 = ('dog', 'cat', 'rabbit')
print(tuple1.index('cat'))

1

In [18]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple1 = ('apple', 'banana', 'orange')
print('kiwi' in tuple1)

False

In [19]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {'a', 'b', 'c'}
print(set1)

{'c', 'b', 'a'}

In [20]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1 = {1, 2, 3, 4, 5}
set1.clear()
print(set1)

set()

In [21]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1 = {1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [22]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 | set2)

{1, 2, 3, 4, 5}

In [23]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1 & set2)

{3}

In [24]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {'name': 'Vishal', 'age': 25, 'city': 'Delhi'}
print(dict1)

{'name': 'Vishal', 'age': 25, 'city': 'Delhi'}

In [25]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict1 = {'name': 'John', 'age': 25}
dict1['country'] = 'USA'
print(dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [26]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1 = {'name': 'Alice', 'age': 30}
print(dict1['name'])

Alice

In [27]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop('age')
print(dict1)

{'name': 'Bob', 'city': 'New York'}

In [28]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict1 = {'name': 'Alice', 'city': 'Paris'}
print('city' in dict1)

True

In [29]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list1 = [1, 2, 3, 4, 5]
tuple1 = (1, 2, 3, 4, 5)
dict1 = {'name': 'Vishal', 'age': 25, 'city': 'Delhi'}
print(list1)
print(tuple1)
print(dict1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Vishal', 'age': 25, 'city': 'Delhi'}

In [30]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
list1 = [random.randint(1, 100) for _ in range(5)]
list1.sort()
print(list1)

[8, 16, 26, 42, 85]

In [31]:
# 28. Write a code to create a list with strings and print the element at the third index.
list1 = ['Vishal', 'Shesh', 'Harsh', 'Rutvik', 'Yash']
print(list1[3])

Rutvik

In [32]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Vishal', 'age': 25, 'city': 'Delhi'}
dict2 = {'country': 'India', 'state': 'Delhi'}
dict1.update(dict2)
print(dict1)

{'name': 'Vishal', 'age': 25, 'city': 'Delhi', 'country': 'India', 'state': 'Delhi'}

In [33]:
# 30. Write a code to convert a list of strings into a set.
list1 = ['Vishal', 'Shesh', 'Harsh', 'Rutvik', 'Yash']
set1 = set(list1)
print(set1)

{'Shesh', 'Vishal', 'Harsh', 'Yash', 'Rutvik'}